body {
	background-color: black;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#banner {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
}
