@import "tailwindcss";

@theme {
  --color-text: theme(--color-stone-200);
  --color-text-heading: theme(--color-stone-100);
  --color-text-muted: theme(--color-stone-400);
  --color-text-dim: theme(--color-stone-500);
}

@layer base {
  body {
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-heading);
  }

  h1 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-center md:text-start text-transparent bg-linear-to-t from-text-heading from-40% to-text-muted bg-clip-text leading-9 sm:leading-11 lg:leading-15 px-1 lg:px-2;
  }

  .link {
    @apply underline text-emerald-300 hover:text-emerald-500;
  }
}
